@import "node_modules/bootstrap/scss/bootstrap";

$orangeColor: #f29700;
$blueColor: #3c4148;
$darkColor: #0e65b7;
$whiteColor: white;
$blackColor: black;
$maxWidthNumber: 1400; // максимальная ширина макета
$minWidthNumber: 320;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @include media-breakpoint-down(md) {
    font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - #{$minWidthNumber + px}) / #{$maxWidthNumber}));
  }
  @include media-breakpoint-up(md) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidthNumber}));
  }
}

.header-description__logo {
  @include adaptiv-font(24, 18);
}

.header-description__name-company {
  @include adaptiv-font(12, 10);
  line-height: 0.8;
}

.my-nav-link {
  @include adaptiv-font(16, 12);
}

.carousel__about-us-competence {
  font-size: 1.3rem;
}

.carousel__about-us-header {
  font-size: 2.8rem;
}


.carousel__about-us-description {
  font-size: 1.2rem;
}

.header-list {
  list-style: none !important;
}

.search {
  width: max-content;

  &__input {
    @include adaptiv-font(16, 10);
  }

  &__input-button {
    &-icon {
      opacity: 0.9;
      @include adaptiv-font(16, 14);
    }

    &:hover {
      background-color: $orangeColor !important;
      color: $whiteColor;
    }

    &:hover &-icon {
      opacity: 1;
    }
  }

  &__button-icon {
    @include adaptiv-font(16, 10);
  }
}


.search__button-icon {
  color: $orangeColor;
}

.my-nav-link {
  color: $blackColor;

  &:hover {
    background-color: $orangeColor;
    color: $whiteColor;
  }
}

.my-nav-link.active {
  background-color: $blackColor !important;
  color: $whiteColor !important;
}

.carousel-indicators {
  &__item {
    width: 10px !important;
    height: 10px !important;
  }
}

.carousel-indicators__item.active {
  background-color: $orangeColor;
}

.wrapper-inscription {
  background-color: $orangeColor;
  width: max-content;
  padding: 0 5px;
}

.wrapper-advantages-header {
  max-width: 350px
}

.advantages-header {
  line-height: 0.9;
}

.my-carousel-caption {
  top: 80px !important;
  left: 140px !important;
  max-width: 500px;
  height: min-content;
}

.list-company-opportunities__item {
  &-content {
    width: 196px;
  }
}

.my-hr {
  width: 100%;
}

@include media-breakpoint-down(sm) {
  .search__input {
    width: 9rem;
    height: 1.8rem;

    &-button-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .my-navbar-toggler-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}

@include media-breakpoint-up(sm) {
  .header-description__logo {
    line-height: 1;
  }
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
  .list-company-opportunities__item {
    &-content {
      width: 150px;
    }
  }
}

@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(xxl) {
}

/*
X-Small None: <576px (резиновая верстка).
Small sm: 576p-767x (фиксированная верстка).
Medium md: 768p-991x (фиксированная верстка).
Large lg: 992-1199px (фиксированная верстка).
Extra large	xl: 1200-1399px (фиксированная верстка).
Extra extra large xxl: >1400px (фиксированная верстка).
- На экранах с шириной разрешения 576px и более рабочая область страницы имеет фиксированную ширину, по горизонтали выравнивается по центру экрана.
  */

