@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts.scss";
@import "constants.scss";

html {
  overflow: scroll;
}

.brand-information {
  &__description {
    &-logo {
      font-size: 24px;
      font-family: $ubuntuFont;
      @include media-breakpoint-down(xl) { // <=1200
        @include adaptiv-font(24, 18);
      }
    }

    &-name {
      font-family: $arialFont;
      line-height: 0.8;
      font-size: 12px;
      @include media-breakpoint-down(xl) { // <=1200
        @include adaptiv-font(12, 10);
      }
    }
  }
}

.my-search {
  width: max-content;

  &__input {
    font-family: $arialFont;
    font-size: 16px;
    @include media-breakpoint-down(xl) { // <=1200
      @include adaptiv-font(16, 12);
    }
    @include media-breakpoint-down(sm) { // <= 576
      max-width: 18em;
      max-height: 3em;
    }
  }

  &__button {
    &-icon {
      opacity: 0.9;
      font-size: 16px;
      @include media-breakpoint-down(xl) { // <=1200
        @include adaptiv-font(16, 14);
      }
      @include media-breakpoint-down(sm) { // <= 576
        max-width: 1em;
        max-height: 1em;
      }
    }

    &:hover {
      background-color: $orangeColor !important;
      color: $whiteColor;
    }

    &:hover &-icon {
      opacity: 1;
    }
  }

  &__icon {
    color: $orangeColor;
    font-size: 16px;
    @include media-breakpoint-down(xl) { // <=1200
      @include adaptiv-font(16, 10);
    }
    @include media-breakpoint-down(sm) { // <= 576
      max-width: 0.8em;
      max-height: 0.8em;
    }
  }
}

.my-navbar-toggler {
  &__icon {
    @include media-breakpoint-down(sm) { // <= 576
      width: 1.1rem;
      height: 1.1rem;
    }
  }
}

.my-hr {
  width: 100%;
}

.my-navbar {
  &__item {
    &-link {
      font-family: $arialFont;
      font-weight: bold;
      color: $blackColor;
      font-size: 16px;
      @include media-breakpoint-down(xl) { // <=1200
        @include adaptiv-font(16, 12);
      }

      &:hover {
        background-color: $orangeColor;
        color: $whiteColor !important;
      }

      &.active {
        background-color: $blackColor !important;
        color: $whiteColor !important;
      }
    }
  }
}

.my-carousel-indicators {
  @include media-breakpoint-down(sm) { // <= 576
    margin-bottom: 0;
  }

  &__item {
    width: 10px !important;
    height: 10px !important;
    @include media-breakpoint-down(sm) { // <= 576
      @include adaptiv-font(16, 12);
      width: 0.8em !important;
      height: 0.8em !important;
      border-bottom: 0.5em solid transparent !important;
    }

    &.active {
      background-color: $orangeColor;
    }
  }
}

.about-company {
  max-width: 536px;
  height: min-content;
  top: 80px;
  left: 140px;
  @include media-breakpoint-down(xl) { // <=1200
    max-width: 470px;
    top: 60px;
    left: 110px;
  }
  @include media-breakpoint-down(lg) { // <= 992
    max-width: 384px;
    top: 40px; // лучше задать в rem
    left: 96px;
  }
  @include media-breakpoint-down(md) { // <= 768
    max-width: 288px;
    top: 15px;
    left: 80px;
  }
  @include media-breakpoint-down(sm) { // <= 576
    max-width: 290px;
    top: 2px;
    left: 4px;
  }

  &__competence-wrapper {
    width: max-content;
    background-color: $orangeColor;
    padding: 5px;
    margin-bottom: 10px;
    @include media-breakpoint-down(md) { // <= 768
      margin-bottom: 2px;
      padding: 2px;
    }
    @include media-breakpoint-down(sm) { // <= 576
      padding: 0 0.5rem;
    }
  }

  &__competence {
    font-family: $robotoFont;
    font-weight: bold;
  }

  &__header {
    font-family: $robotoFont;
    font-size: 60px;
    @include media-breakpoint-down(xl) { // <=1200
      @include adaptiv-font(60, 15);
    }
    font-weight: bold;
    line-height: 0.9em;
  }

  &__description {
    font-family: $arialFont;
    line-height: 1.2em;
    @media (max-width: 300px) {
      display: none;
    }
  }

  &__competence, &__description {
    font-size: 15px;
    @include media-breakpoint-down(xl) { // <=1200
      @include adaptiv-font(15, 12);
    }
  }

  &__competence, &__description, &__header {
    @media (max-width: 500px) {
      @include adaptiv-font(15, 12);
      line-height: 0.8em;
    }
  }

}

.list-of-company-opportunities {
  font-size: 13px;
  @include media-breakpoint-down(xl) { // <=1200
    @include adaptiv-font(13, 10);
  }

  &__item {
    &-img {
      object-fit: contain;
      width: 2em;
      height: 2.3em;
    }

    &-description {
      font-family: $arialFont;
      max-width: 10em;
    }
  }
}

